html {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: #5e1800;
  text-align: center;
  background-color: #efeee9;
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #795437;
}

ul li {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  color: #9a816d;
}

li a {
  color: #fff;
  text-decoration: none;
  display: block;
  background-color: #9a816d;
  padding-top: 3px;
  padding-bottom: 3px;
}

li a:hover {
  background-color: #795437;
}

li a, li a:hover {
  padding-top: 10px;
  padding-bottom: 10px;
}

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 0 #795437;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}
